$linkhormal: #39c;
$linkhover: #94c;
$background: #c4c4c4;
$panels: #f2f2f2;
$panels-font-colour: #1c286b;
$expand-colour: #0b5fe5;

body{
  background: $background;;
}

.container {
  margin: 0 auto;
  min-width: 920px;

  header {
    float: left;
    position: fixed;
    width: 270px;

    a {
      color: $linkhormal;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $linkhover;
      }
    }
  }

  footer {
    bottom: 50px;
    float: left;
    position: fixed;
    width: 270px;
  }

  .content {
    float: right;
    padding-bottom: 50px;
    width: 500px;
  }

  .wishlist-panel{
    background: $panels;
    color: $panels-font-colour;
    margin: 10px 30px 25px 25px;
    padding: 10px 10px 10px 25px !important;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.16);
    overflow-x: scroll;
    height: 11vh;
  }

  .h7{
    font-size: 1.5rem;
    letter-spacing:0.01rem
  }


  .wishlist-name{
    font-weight: 300;
    letter-spacing:-.05rem;
    font-size: 2rem;
  }

  .dropdown-arrow{
    font-weight: 900;
    cursor: pointer;
    cursor: hand;
    font-size: 2rem;
    margin-left: 1vw;

    &:hover {
      color: $expand-colour;
      transition: 1s;
    }
  }
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  text-align: center;
}

.right {
  justify-content:right;
  align-items: right;
  text-align: right;
}

